
h1{
	text-align: center;
	letter-spacing: .09em;
	padding-bottom: 35px;
}

h4{
font-weight: 100px;
}

body {
	font-family: Bookman,Georgia,'Times New Roman',serif;
	font-size: 18px;
	line-height: 1.4em;
}

#recpieinfo {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

#Nutrition {
	color: black;
}
