
h1{
	font-family: Georgia,'Times New Roman',serif;
	text-align: center;
	letter-spacing: .09em;
	padding-bottom: 35px;
}

h2{
	font-family: Georgia,'Times New Roman',serif;
	letter-spacing: .05em;
}

h4 {
	font-weight: 100px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4em;
}

#recpieinfo {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

#Nutrition {
	color: black;
}
